#listOfTasks {
    margin: 10px;
}
#listOfTasks ul {
    list-style: none;
    font-family: "Raleway";
}

h2 {
    font-family: Raleway;
    color:red;
    height: 20px;
    width:800px;
    margin:0 auto;

}

h3 {
    font-family: "Arial Narrow";
    color: red;
    width:800px;
    margin:0 auto;
    font-size: 40px;
}


a:link  {
    color:red;
    text-decoration: none;
    font-size:large;
    padding: 10px 40px;
    width: 200px;
    border: 2px solid;
    border-radius: 30px;
    background-color: antiquewhite;
    display: inline-block;

}

.login-form {
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    font-size: 18px;
}

#f1 {
    background-color: #ccc;
    border-style: solid;
    border-width: 1px;
}
.f1_label {
    white-space: nowrap;
}



