#listOfTasks {
    margin: 10px;
}
#listOfTasks ul {
    list-style: none;
    font-family: "Arial Narrow";
}

h2 {
    font-family: Raleway;
    color:red;
    height: 20px;
    width:800px;
    margin:0 auto;

}


